{% extends "wagtailadmin/base.html" %}

{% load i18n wagtailadmin_tags %}

{% block titletag %}{% trans "Stock images" %}{% endblock %}

{% block content %}
    {% trans "Stock images" as im_str %}

    {% include "wagtailadmin/shared/header.html" with title=im_str icon="image" search_url="wagtail-stock-images-search" %}

    <div class="nice-padding">
        <form class="image-search search-bar" action="{% url 'wagtail-stock-images-search' %}" method="GET" novalidate>
            <ul class="fields">

            </ul>
        </form>

        <div id="image-results">
            {% include "wagtail_stock_images/results.html" %}
        </div>
    </div>
{% endblock %}
